* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
}
nav {
  width: 100%;
  height: 7vh;
  background: rgb(41, 41, 41);
}
.todo {
  width: 90%;
  margin: auto;
  display: flex;
  text-align: center;
  padding: 10px 0;
  justify-content: space-between;
}
.todo ul {
  color: #777;
}
.todo ul li {
  display: inline-block;
  margin-right: 15px;
}
.todo .ul2 li {
  margin: 0;
}
.form-box {
  width: 30%;
  height: 40%;
  margin: auto;
  display: flex;
  text-align: center;
  margin-top: 18vh;
  padding: 30px;
}
table {
  margin-top: 12vh;
}
.index-input {
  border: 1px solid #777;
  color: #333231;
  outline: none;
  width: 300px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  margin-top: 15px;
  position: relative;
  right: 65px;
  bottom: 20px;
}
.icon-btn {
  display: flex;
  color: rgb(46, 45, 45);
  position: absolute;
  left: 34.5%;
}
.icon-btn .fa-user-alt {
  position: relative;
  bottom: 5px;
  background-color: rgb(155, 155, 155);
  padding: 8px;
  border-radius: 5px 0 0 5px;
}
.icon-btn .fa-lock {
  position: relative;
  bottom: 5px;
  background-color: rgb(155, 155, 155);
  padding: 8px;
  border-radius: 5px 0 0 5px;
}
.login-btn {
  padding: 10px;
  width: 100px;
  border: 0;
  background-color: rgb(34, 96, 212);
  border-radius: 5px;
  color: azure;
  font-weight: 600;
  position: relative;
  left: 35px;
  cursor: pointer;
}
.login-btn .fa-sign-in-alt {
  color: #fff;
}
.login-btn:hover {
  opacity: 0.7;
}
